html{background: #121213;}
body{margin:0px;display: flex;justify-content:center;}
header{max-width: 1920px;width: 100%;}
.header-block{display:flex;height:120px;width:100%;}
.header-block-logo{display:flex;margin: 37px 42px 33px 36px;}
.header-block-logo div{height:50px;}
.header-block-logo div:not(:last-child){margin-right:36px;}
.header-block-logo div img{width:100%;height:auto;}
pre{margin:0px;}
section{display: flex;overflow-x: hidden;}
.header-block-txt-animate{margin: 31px 0px 27px 0px;font-size:48px;color: #0B68F0;line-height: 130%;white-space: nowrap;display: inline-block;}
.div1{animation: marquee1 20s infinite linear;animation-delay: -20s;}
.div2{animation: marquee2 20s infinite linear;animation-delay: -10s;}
@keyframes marquee1 {
0% {transform: translateX(100%);}
100%{transform: translateX(-100%);}}
@keyframes marquee2{
0%{transform: translateX(0%);}
100%{transform: translateX(-200%);}}
